body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black !important;
    font-size: 1.1rem !important;
    text-decoration: none !important;
}
/* nav{
    position: absolute;
} */

.alo{
    position: fixed !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0 !important;
}

 #pag{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center; 
} 

.col{
    display: flex;
    justify-content: center;
}

.card{
    width: 250px;
    height: 300px;
    background-color: #638DCC !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 1.65rem !important;
}