body{
    width: 100vw;
    height: 100vh;
}

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black !important;
    font-size: 1.1rem !important;
    text-decoration: none !important;
    
}

.nav{
    width: 100%;
    height: 10%;
    display: flex;
    padding-top: 2em;
    justify-content: space-around;
}

#pag{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 
} 

.col{
    display: flex;
    justify-content: center;
}

.card{
    width: 250px;
    height: 300px;
    background-color: #638DCC !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 1.65rem !important;
}